# Lists

In [1]:
lst = ["Krishna",5,10,25.5,[8,9,10]]

In [2]:
lst

['Krishna', 5, 10, 25.5, [8, 9, 10]]

In [3]:
lst.append("radha")

In [4]:
lst

['Krishna', 5, 10, 25.5, [8, 9, 10], 'radha']

In [5]:
lst.index(5)

1

In [6]:
lst.copy()

['Krishna', 5, 10, 25.5, [8, 9, 10], 'radha']

In [8]:
lst.count(10)

1

In [12]:
lst.insert(4,11)

In [13]:
lst

['Krishna', 5, 10, 25.5, 11, [8, 9, 10], 'radha']

In [14]:
abc=["mango","apple","orange"]
lst.extend(abc)

In [15]:
lst

['Krishna', 5, 10, 25.5, 11, [8, 9, 10], 'radha', 'mango', 'apple', 'orange']

In [16]:
lst.pop(2)

10

In [17]:
lst

['Krishna', 5, 25.5, 11, [8, 9, 10], 'radha', 'mango', 'apple', 'orange']

In [18]:
lst.reverse()

In [19]:
lst

['orange', 'apple', 'mango', 'radha', [8, 9, 10], 11, 25.5, 5, 'Krishna']

In [21]:
lst

['apple', 'mango', 'orange', 'radha', [8, 9, 10], 11, 25.5, 5, 'Krishna']

# Dictionary

In [22]:
dit={"name":"Ananya","age":"19","rollno":317,"food":"pizza","game":"badminiton"}

In [23]:
dit

{'name': 'Ananya',
 'age': '19',
 'rollno': 317,
 'food': 'pizza',
 'game': 'badminiton'}

In [24]:
len(dit)

5

In [25]:
str(dit)

"{'name': 'Ananya', 'age': '19', 'rollno': 317, 'food': 'pizza', 'game': 'badminiton'}"

In [26]:
type(dit)

dict

In [27]:
dit.copy()

{'name': 'Ananya',
 'age': '19',
 'rollno': 317,
 'food': 'pizza',
 'game': 'badminiton'}

In [28]:
dit.items()

dict_items([('name', 'Ananya'), ('age', '19'), ('rollno', 317), ('food', 'pizza'), ('game', 'badminiton')])

In [29]:
dit.keys()

dict_keys(['name', 'age', 'rollno', 'food', 'game'])

In [30]:
dit.values()

dict_values(['Ananya', '19', 317, 'pizza', 'badminiton'])

In [31]:
dit.get('rollno')

317

# Sets

In [32]:
st = {"mohan","shyam","silicon",10,20,30,40,50,20,10,90,30}

In [33]:
st

{10, 20, 30, 40, 50, 90, 'mohan', 'shyam', 'silicon'}

In [34]:
st.add("apple")

In [35]:
st

{10, 20, 30, 40, 50, 90, 'apple', 'mohan', 'shyam', 'silicon'}

In [36]:
st.discard("silicon")

In [37]:
st

{10, 20, 30, 40, 50, 90, 'apple', 'mohan', 'shyam'}

In [38]:
st1={"ananya",2}

In [39]:
st1

{2, 'ananya'}

In [40]:
st

{10, 20, 30, 40, 50, 90, 'apple', 'mohan', 'shyam'}

In [41]:
st1.issubset(st)

False

In [42]:
st.pop()

'mohan'

In [43]:
st

{10, 20, 30, 40, 50, 90, 'apple', 'shyam'}

In [44]:
st.copy()

{10, 20, 30, 40, 50, 90, 'apple', 'shyam'}

In [45]:
st

{10, 20, 30, 40, 50, 90, 'apple', 'shyam'}

# Tuple

In [46]:
tup = ("rushav","is","a","good","boy")

In [47]:
tup

('rushav', 'is', 'a', 'good', 'boy')

In [52]:
tup.count("is")

1

In [53]:
tup.index("boy")

4

In [56]:
len(tup)

5

In [57]:
min(tup)

'a'

In [58]:
max(tup)

'rushav'

In [60]:
tup2=("ananya","is","a","friendly","girl")

In [61]:
tup2

('ananya', 'is', 'a', 'friendly', 'girl')

# Strings

In [63]:
txt = "hello, and welcome to LetsUpgrade"

In [64]:
txt

'hello, and welcome to LetsUpgrade'

In [65]:
x= txt.capitalize()

In [66]:
x

'Hello, and welcome to letsupgrade'

In [69]:
x=txt.find("welcome")
print(x)

11

In [70]:
x = txt.index("LetsUpgrade")

In [71]:
x

22

In [72]:
x= txt.lower()

In [73]:
x

'hello, and welcome to letsupgrade'

In [76]:
x= txt.replace("LetsUpgrade","Python Course")

In [77]:
x

'hello, and welcome to Python Course'

In [78]:
txt

'hello, and welcome to LetsUpgrade'